<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>彭志诚的个人网站</title>
<meta name="keywords" content="个人网站" />
<meta name="description" content="将爬虫获取的数据展示在此页面中。" />
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/new.css' %}" rel="stylesheet">
<script src="{% static 'js\jquery.min.js' %}"> </script>
<script src="{% static 'js\jquery-1.11.3.min.js' %}"></script>
{%if mood == 1 %}
<link href="{% static 'css/mood.css' %}" rel="stylesheet">
{%endif%}
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav"><a href="{%url 'sina:index' %}"><span>首页</span><span class="en">Protal</span></a><a href="{%url 'sina:about_me' %}"><span>关于我</span><span class="en">About</span></a><a href="{%url 'sina:following_list' %}"><span>新浪关注列表</span><span class="en">sina following list</span></a><a href="{%url 'sina:query_all' %}"><span>已爬取微博</span><span class="en">Doing</span></a><a href="{%url 'sina:test' %}"><span>学无止境</span><span class="en">Learn</span></a><a href="{%url 'sina:test' %}"><span>留言版</span><span class="en">Gustbook</span></a></nav>
  </nav>
</header>
{%block content%}
{%endblock%}
<script src="{% static 'js/silder.js' %}"></script>
<script type="text/javascript">
window.onload = updatehtml
 function updatehtml(){
  var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
  detail_list = document.getElementsByName("detail");
  for(var i = 0;i<detail_list.length;i++)
  {
    str = detail_list[i].innerHTML;
    detail_list[i].innerHTML =  str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){
    return arrEntities[t];
  });
  }
}
</script>
</body>
</html>