{%extends "sina/base.html"%}
{% load staticfiles %}
{%block content%}
<article class="blogs">
<h1 class="t_nav"><span>“慢生活”不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span><a href="/" class="n1">按时间</a><a href="/" class="n2">待定</a></h1>
<div class="newblog left">
  {%for f in following_list%}
   <h2><a href="{% url 'sina:following_blogs' f.id%}"  target="_blank">&nbsp;&nbsp;{{f.following_name}}</a></h2>
   <p class="dateview"><span>&nbsp;关注数：{{f.following_num}}</span><span>粉丝数：{{f.follower_num}}</span><span>发表微博数：[<a href="/news/life/">0</a>]</span>&nbsp;&nbsp;他/她的微博[<a href="https://m.weibo.cn/n/{{f.following_name}}" style = "color:#66CCFF;">链接</a>]</p>
    <figure><a href="{% url 'sina:following_blogs' f.id%}"  target="_blank"><img src="{{f.avatar}}" class="image-circle"></a></span></p></figure>
    <ul class="nlist">
      <br>
      <p style = "color:#0099FF;">&nbsp;&nbsp;{{f.brief}}</p>
    </ul>
    <div class="blank"></div>
    <div class="line"></div>
  {%endfor%}
      {%include 'sina/pagination.html' %}

</div>


<aside class="right">
<br>
      <h3><p>最近访问的博主:</p></h3>
      {%for r in recent%}
      <ul class="rank">
      <li>
        <img src="{{r.avatar}}" class="image-circle2">
        <a href="{% url 'sina:following_blogs' r.id%}">{{r.following_name}}</a></li>
      </ul>
      {%endfor%}
</aside>
</article>
<footer>
  <br>
  <br>
  <p>Design by DanceSmile <a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a> <a href="/">网站统计</a></p>
</footer>
<script src="js/silder.js"></script>
{%endblock%}